body {
   background-color: #c9d8c5;
   margin: 0px;
}

a {
  text-decoration: none;
  padding: none;
}

h1 {
  font-size: 18px;
  font-family: 'lora';
}

h2 {
  font-size: 16px;
  font-family: 'lora';
}

h3 {
  font-size: 14px;
  font-family: 'lora';
}

.header {
  position: relative;
  text-align: center;
  font-size: 12px;
  font-family: 'lora';
  height: 20px;
}

.nav1 {
  height: 200px;
  text-align: center;
  background-color: cornsilk;
  font-family: 'lora';
  margin: 40px;
  border-radius: 10px;
  padding: 10px;
}
.nav2 {
  height: 120px;
  text-align: center;
  background-color: cornsilk;
  font-family: 'lora';
  margin: 40px;
  border-radius: 10px;
  padding: 10px;
}

.generatorbox {
  background-color: #c9d8c5;
}

.generator {
  margin: 40px;
  margin-top: 160px;
  border-radius: 10px;
  background-color: wheat;
  padding: 20px;
  height: 400px;
}

.gentextbox {
  background-color: #c9d8c5;
  border-radius: 10px;
}

.gentext {
  background-color: wheat;
  padding: 20px;
  margin: 40px;
  border-radius: 10px;
}

.footer {
  background-color: #c9d8c5;
  margin: 10px;
  padding: 20px;
}
.o2 {
  font-family: 'Oxygen';
}

.lora {
  font-family: 'Lora';
}

.poiret1 {
  font-family: 'Poiret One';
}

.changa {
  font-family: 'Changa One';
}

.pmarker {
  font-family: 'Permanent Marker';
}

.team {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-width: 45%;
  height: 100%;
  padding: 10px;
  margin: 10px;
}

.teamp {
  padding: 10px;
  font-family: 'lora';
  font-size: 16px;
}

.thead {
  text-align: center;
}

.jasmine {
  text-align: left;
  width: 100%;
  height: 600px;
  padding: 6px;

}

.sam {
  text-align: left;
  width: 90%;
  height: 580px;
  padding: 6px;
}

.heidi {
  text-align: left;
  width: 90%;
  height: 580px;
  padding: 6px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.displayed {
  text-align: left;
  margin: 20px;
  font-size: 16px;
}

h3.displayed {
  margin-left: 50px;
  font-size: 18px;
}
