body {
   background-color: #c9d8c5;
   margin: 0px;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  text-align: center;
  font-size: 12px;
  font-family: 'lora';
  height: 10px;
}

.nav {
  height: 200px;
  text-align: center;
  background-color: cornsilk;
  font-family: 'lora';
  margin: 40px;
  border-radius: 10px;
  padding: 10px;
}

.generatorbox {
  background-color: #c9d8c5;
}

.generator {
  margin: 40px;
  border-radius: 10px;
  background-color: wheat;
  padding: 20px;
}

.gentextbox {
  background-color: #c9d8c5;
  border-radius: 10px;
}

.gentext {
  background-color: wheat;
  padding: 20px;
  margin: 40px;
  border-radius: 10px;
}

.footer {
  background-color: #c9d8c5;
  margin: 10px;
  padding: 20px;
}
.o2 {
  font-family: 'Oxygen';
}

.lora {
  font-family: 'Lora';
}

.poiret1 {
  font-family: 'Poiret One';
}

.changa {
  font-family: 'Changa One';
}

.pmarker {
  font-family: 'Permanent Marker';
}

.team {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-width: 40%;
  height: 100%;
  padding: 10px;
}

.thead {
  text-align: center;
}

.jasmine {
  text-align: left;
  width: 100%;
  height: 580px;
}

.sam {
  text-align: left;
  width: 100%;
  height: 580px;
}

.heidi {
  text-align: left;
  width: 100%;
  height: 580px;
}

img {
  text-align: center;
}

