body {
   background-color: darkseagreen;

}

.navbar {

}

.o2 {
  font-family: 'Oxygen';
}

.lora {
  font-family: 'Lora';
}

.poiret1 {
  font-family: 'Poiret One';
}

.changa {
  font-family: 'Changa One';
}

.pmarker {
  font-family: 'Permanent Marker';
}
