body {
   background-color: darkseagreen;
}

header {
   height: 140px;
   background-image: url("../img/green-fabric.jpg");
   padding-top: 10px;
}

h1 {
   color: cornsilk;
   text-indent: 50px;

}

h2, h4 {
   color: darkgreen;
}

p {
   text-align: left;
}

nav, footer {
   clear: both;
   background-color: lightgrey;
   height: 25px;
   padding-bottom: 25px;
}

nav ul {
   margin: 0px;
   padding: 5px 0px 5px 50px;
   
}

nav li a {
   display: inline-block;
   margin-right: 40px;
   color: darkgreen;

}

nav li a:hover, nav li a.current {
   color: darkseagreen;
}

li {
   display: inline-block;
   
}


section.coates {
   background-image: url("../img/coates-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 500px;
   margin: 50px;
}

section.douglass {
   background-image: url("../img/fred-douglass-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 700px;
   margin: 50px;
}

section.dubois {
   background-image: url("../img/webdubois-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 600px;
   margin: 50px;
}

section.garvey {
   background-image: url("../img/garvey-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 700px;
   margin: 50px;
}

section.hooks {
   background-image: url("../img/bhooks-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 700px;
   margin: 50px;
}

section.king {
   background-image: url("../img/mlk-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 500px;
   margin: 50px;
}

section.lincoln {
   background-image: url("../img/alincoln-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 500px;
   margin: 50px;
}

section.malcolmx {
   background-image: url("../img/mx-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 700px;
   margin: 50px;
}

section.obama {
   background-image: url("../img/bobama-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 500px;
   margin: 50px;
}

section.truth {
   background-image: url("../img/struth-background.png");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 750px;
   margin: 50px;
}

section.washington {
   background-image: url("../img/btwashington-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 600px;
   margin: 50px;
}

section.wells {
   background-image: url("../img/ibwells-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 600px;
   margin: 50px;
}

section.west {
   background-image: url("../img/cwest-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 90%;
   height: 600px;
   margin: 50px;
}
 


article.coates {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-right: 55%;
   text-align: center;
   z-index: 50;
}

article.douglass {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-right: 55%;
   text-align: center;
   z-index: 50;
}

article.dubois {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-left: 55%;
   text-align: center;
   z-index: 50;
}

article.garvey {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-right: 55%;
   text-align: center;
   z-index: 50;
}

article.hooks {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-right: 55%;
   text-align: center;
   z-index: 50;
}

article.king {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-right: 55%;
   text-align: center;
   z-index: 50;
}

article.lincoln {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-right: 55%;
   text-align: center;
   z-index: 50;
}

article.malcolmx {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-right: 55%;
   text-align: center;
   z-index: 50;
}

article.obama {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-right: 55%;
   text-align: center;
   z-index: 50;
}

article.truth {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-left: 55%;
   text-align: center;
   z-index: 50;
}

article.washington {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-left: 55%;
   text-align: center;
   z-index: 50;
}

article.wells {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-left: 55%;
   text-align: center;
   z-index: 50;
}

article.west {
   background-color: cornsilk;
   background-position: relative;
   width: 40%;  
   border: 2px solid white;
   padding: 10px;
   margin: 50px;
   margin-left: 55%;
   text-align: center;
   z-index: 50;
}


